<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csi.help.mapper.VolunteerSkillMapper">

    <select id="findSkillCodesByUserId" resultType="string">
        SELECT skill_code FROM volunteer_skills
        WHERE user_id = #{userId}
        ORDER BY skill_code
    </select>

</mapper>
